.container {
    display: flex;
    align-items: center;
    min-height: 100%;

    &__inner {
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(325px, 400px));
        align-items: center;
        justify-content: center;
    }
}

.provider {
    box-shadow: 6px 6px 36px 5px rgba(0, 0, 0, 0.39);

    &__title-icon {
        margin-right: 8px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__label {
        display: flex;
        align-items: center;
        margin-top: -20px;
    }

    &__spacer {
        flex: 1;
    }

    &__status {
        font-weight: bold;
        padding-left: 4px;
    }

    &__actions {
        display: flex;
        justify-content: center;
    }
}
